.calculate-input{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button-group Button{
    font-size: 13px;
    font-weight: 700;
}

.button-group Button.selected {
    background-color:#67FFE4;
    color: #333;
    border: 1px solid #333;
   
}

.button-group Button {
    background-color:white;
    color: #333;
    border: 1px solid #333;
}

.button-group Button:hover {
    background-color: rgb(194, 194, 194);
    color: #333;
    border: 1px solid #333;
}

.button-submit Button{
    background-color: #67FFE4;
    color: #333;
    border: 1px solid #333;
    font-weight: bold;
}
.button-submit Button:hover {
    background-color: rgb(194, 194, 194);
    color: #333;
    border: 1px solid #333;
}
.quality-diamond{
    font-size: 12px;
    margin-bottom: 10px;
}
input[type=number] {
    -moz-appearance: textfield;
  }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #67FFE4;

}